version: "3.9"
services:
    haproxy:
        image: haproxy:{{ haproxy_version }}
        volumes:
            - ./config:/usr/local/etc/haproxy:ro
        network_mode: host
        user: root
        restart: always