version: "3.9"
services:
    haproxy:
        image: haproxy:{{ haproxy_image_version }}
        volumes:
            - ./config:/haproxy-override
            - ./config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
        ports:
            - "80:80"
            - "70:70"