global
	chroot {{haproxy_global.chroot}}
        log stdout format raw local0
	user {{haproxy_global.user}}
	group {{haproxy_global.group}}
        maxconn {{haproxy_global.maxconn}}

defaults
	mode	tcp
        timeout connect {{haproxy_timeout.connect}}
        timeout client  {{haproxy_timeout.client}}
        timeout server  {{haproxy_timeout.server}}

#---------------------------------------------------------------------
# health check
#---------------------------------------------------------------------
listen health_check_http_url
    bind :{{haproxy_health_check_port}}
    mode http
    monitor-uri /healthz

#---------------------------------------------------------------------
# Monitoring Configuration
#---------------------------------------------------------------------
listen  stats
        bind *:{{haproxy_monitoring_config.port}}
        mode            http
        #log             global
        maxconn {{haproxy_monitoring_config.maxconn}}
        timeout client  {{haproxy_monitoring_config.timeout.client}}
        timeout server  {{haproxy_monitoring_config.timeout.server}}
        timeout connect {{haproxy_monitoring_config.timeout.connect}}
        timeout queue   {{haproxy_monitoring_config.timeout.queue}}
        stats enable
        stats hide-version
        stats refresh {{haproxy_monitoring_config.refresh}}
        stats show-node
        stats auth {{haproxy_dashboard.user}}:{{haproxy_dashboard.password}}
        stats uri  {{haproxy_monitoring_config.uri}}
        http-request use-service prometheus-exporter if { path /metrics }