global
    log stdout format raw local0
    maxconn {{haproxy_global.maxconn}}
defaults
    mode  tcp
    timeout connect {{haproxy_timeout.connect}}
    timeout client  {{haproxy_timeout.client}}
    timeout server  {{haproxy_timeout.server}}

#---------------------------------------------------------------------
# Monitoring Configuration
#---------------------------------------------------------------------
listen  stats
        bind *:{{haproxy_monitoring_config.port}}
        mode  http
        stats enable
        stats refresh {{haproxy_monitoring_config.refresh}}
        stats auth {{haproxy_dashboard.user}}:{{haproxy_dashboard.password}}
        stats uri  {{haproxy_monitoring_config.uri}}
{% if haproxy_exporter %}
        http-request use-service prometheus-exporter if { path /metrics }
{% endif %}