vrrp_script chk_haproxy {
    script "{{vrrp_script_chk_haproxy.script}}"
    interval {{vrrp_script_chk_haproxy.interval}}
    weight {{vrrp_script_chk_haproxy.weight}}
}

{% for vrrp_instance in vrrp_instances %}

vrrp_instance {{vrrp_instance.vrrp_instance_name}} {
    interface {{ vrrp_ip_interface }}
    state {{ vrrp_state }}
    priority {{ vrrp_instance.vrrp_priority }}
    virtual_router_id {{ vrrp_instance.virtual_router_id }}

    authentication {
        auth_type {{ vrrp_auth_type }}
        auth_pass {{ vrrp_instance.auth_password }}
    }

    virtual_ipaddress {
    {{vrrp_instance.virtual_ipaddress}}
    }

    track_script {
        chk_haproxy
    }
}

{% endfor %}