vrrp_script chk_haproxy {
    script "/usr/bin/pidof haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    interface {{ float_ip_interface }}
    state {{ vrrp_state }}
    priority {{ vrrp_priority }}
    virtual_router_id {{ float_ip_virtual_router_id }}

    authentication {
        auth_type {{ float_auth_type }}
        auth_pass {{ float_ip_auth_pass }}
    }

    virtual_ipaddress {
    {% for float_ip in float_ips %}
        {{float_ip}}
    {% endfor %}
    }

    track_script {
        chk_haproxy
    }
}